
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

/* =14px */
h1 {
  font-size: 2.4rem;
}

/* =24px */
.container__item {
  margin: 0 auto 40px;
}

.landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 90rem;
  background-image: url("https://s29.postimg.org/vho8xb2pj/landing_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #09383E;
}

.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}


.coords {
  font-size: 1rem;
  display: inline-block;
  float: center;
  position: relative;
  letter-spacing: 0.2rem;
  left: 45rem;
  margin-top: 1%;
}

.ellipses-container {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.ellipses-container .greeting {
  position: absolute;
  top: 11.6rem;
  left: 10.5rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 2.2rem;
  font-weight: 400;
  opacity: 0.5;
}
.ellipses-container .greeting:after {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0C383E;
  position: relative;
  top: -0.65rem;
  left: -5.05rem;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  -webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
          animation: ellipsesOrbit 15s ease-in-out infinite;
}
.ellipses__outer--thin:after {
  content: "";
  background-image: url("https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.15;
}

.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #09383E transparent;
  border-width: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
          animation: ellipsesRotate 15s ease-in-out infinite;
}

.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #09383E;
  top: 5rem;
  right: 6.75rem;
}
.ellipses__orbit:before {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #09383E;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.scroller {
  width: 7.5rem;
  display: inline-block;
  float: right;
  position: relative;
  top: -15%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  overflow: hidden;
}
.scroller .page-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5rem;
  display: inline-block;
  float: left;
  margin-top: 1rem;
}
.scroller .timeline {
  width: 1.5rem;
  height: 9rem;
  display: inline-block;
  float: right;
}
.scroller .timeline .timeline__unit {
  width: 100%;
  height: 0.1rem;
  display: block;
  background-color: #0C383E;
  margin: 0 0 2rem;
  opacity: 0.2;
}
.scroller .timeline .timeline__unit.timeline__unit--active {
  opacity: 1;
}
.scroller .timeline .timeline__unit.timeline__unit--active:after {
  opacity: 0.2;
}
.scroller .timeline .timeline__unit:after {
  content: '';
  width: 70%;
  height: 0.1rem;
  display: block;
  position: relative;
  float: right;
  background-color: #0C383E;
  top: 1rem;
}

@-webkit-keyframes ellipsesRotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}

@keyframes ellipsesRotate {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
}
@-webkit-keyframes ellipsesOrbit {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes ellipsesOrbit {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Hier begint SCROLL ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.uvdscpr {
  position: fixed;
  bottom: 35%;
  left: 50%;
  z-index: 100;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.uvdscpr .uvdarrdow {
  position: relative;
  -moz-animation: slidedown 2.25s infinite;
  -webkit-animation: slidedown 2.25s infinite;
  animation: slidedown 2.25s infinite;
}

.uvdscpr .uvdarrdow:before,
.uvdscpr .uvdarrdow:after {
  content: "";
  display: block;
  position: absolute;
  width: 4em;
  height: .5em;
  top: 0;
  left: 0;
  background: #09383E;
  -moz-border-radius: 0 0.25em 0.25em 0;
  -webkit-border-radius: 0;
  border-radius: 0 0.25em 0.25em 0;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.uvdscpr .uvdarrdow:before {
  -moz-transform: scaleX(-1) rotate(-45deg);
  -ms-transform: scaleX(-1) rotate(-45deg);
  -webkit-transform: scaleX(-1) rotate(-45deg);
  transform: scaleX(-1) rotate(-45deg);
}

.uvdscpr .uvdarrdow:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-moz-keyframes slidedown {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -moz-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
  100% {
    opacity: 0;
    -moz-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
}
@-webkit-keyframes slidedown {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
}
@keyframes slidedown {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    -moz-transform: translate(0, 80px);
    -ms-transform: translate(0, 80px);
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
  100% {
    opacity: 0;
    -moz-transform: translate(0, 80px);
    -ms-transform: translate(0, 80px);
    -webkit-transform: translate(0, 80px);
    transform: translate(0, 80px);
  }
}
